        <div class="container">
            <hr>
            <footer>
                <ul>
                    <li class="footer-link">
                        <a href="#">About</a>
                    </li>
                    <li class="footer-link">
                        <a href="#">Blog</a>
                    </li>
                    <li class="footer-link">
                        <a href="#">Terms &amp; Privacy</a>
                    </li>
                    <li class="footer-link">
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </footer>
        </div>
    </body>
</html>