<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1>Let's MOVE</h1>
        <p>"...and there went with him a band of men, whose hearts God had touched." (1 Samuel 10:26)</p>
        <a class="btn btn-lg btn-primary" href="/register">Sign-up</a>
        
    </div>
</div>

<% include partials/footer %>